

h1 {
	text-align: center;
	font-size: 45pt;
	color:pink;
}

p{
	color:hotpink;
	padding-left: 200px;
	padding-right: 200px;
}
table{
	text-align: center;

}
button{
	background-color: pink;
	border: 2px solid hotpink;
	color: black;
	padding: 10px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;

}
th{
	font-size: 20pt;
}
a{
	cursor: pointer;
	font-size: 16px;
	padding-right: 10px;
	color: black;
	
}
